<thf-page-detail name="customerMaintDetail"
    [t-title]="literals?.customerMaintDetail"
    [t-breadcrumb]="breadcrumb"
    >
    <div class="thf-row">
        <thf-input class="thf-md-3" name="code"
            [(ngModel)]="customer.code"
            [t-label]="literals?.code"
            t-readonly>
        </thf-input>

        <thf-input class="thf-md-3" name="shortName"
            [(ngModel)]="customer.shortName"
            [t-label]="literals?.shortName"
            t-readonly>
        </thf-input>

        <thf-input class="thf-md-9" name="name"
            [(ngModel)]="customer.name"
            [t-label]="literals?.name"
            t-readonly>
        </thf-input>

        <thf-input class="thf-md-2" name="country"
            [(ngModel)]="customer.country"
            [t-label]="literals?.country"
            [t-placeholder]="literals?.country"
            t-maxlength=40
            t-clean
            t-readonly>
        </thf-input>
        <thf-radio-group class="thf-md-6" name="status"
            [(ngModel)]="customer.status"
            [t-label]="literals?.status"
            [t-options]="statusOptions"
            t-disabled>
        </thf-radio-group>
       
    </div>
    <div class="thf-row">
        <thf-table
            t-checkbox="false"
            t-striped="true"
            [t-columns]="columns"
            [t-items]="items"
            [t-show-more-disabled]="!hasNext"     
        >
        </thf-table>
        <!-- 
        
            (t-show-more)="search(true)"    -->
    </div>
</thf-page-detail>


