<thf-page-list name="customerMaintList"
    [t-title]="literals?.customerMaintList"
    [t-disclaimer-group]="disclaimerGroup"
    [t-filter]="filterSettings"
    [t-breadcrumb]="breadcrumb"
    [t-actions]="pageActions"
    >

<!--
   
    [t-disclaimer-group]="disclaimerGroup"
    
    
-->


    <thf-table
        t-checkbox="false"
        t-striped="true"
        [t-columns]="columns"
        [t-items]="items"
        [t-actions]="tableActions"
        [t-show-more-disabled]="!hasNext"
        (t-show-more)="search(true)">
    </thf-table>
<!--
     t-striped="true" fixo 
      [t-items]="items" são os dados
-->
   
</thf-page-list>


<thf-modal #modalAdvanceSearch
    t-size="sm"
    [t-title]="literals?.modalAdvanceSearch"
    [t-primary-action]="confirmAdvSearchAction"
    [t-secondary-action]="cancelAdvSearchAction">

    <div class="thf-row">
        <thf-number class="thf-md-6" name="codeInitial"
            [(ngModel)]="filterCode.valInitial"
            [t-label]="literals?.codeInitial"
            [t-placeholder]="literals?.codeInitial"
            t-minlength="1"
            t-maxlength="9"
            t-min="0">
        </thf-number>

        <thf-number class="thf-md-6" name="codeFinal"
            [(ngModel)]="filterCode.valFinal"
            [t-label]="literals?.codeFinal"
            [t-placeholder]="literals?.codeFinal"
            t-minlength="1"
            t-maxlength="9"
            t-min="0"
            t-required>
        </thf-number>  
    </div>
</thf-modal>
